{
  "extends": "next/core-web-vitals",
  "plugins": ["simple-import-sort"],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "sourceType": "module",
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "rules": {
    "simple-import-sort/imports": 2,
    "simple-import-sort/exports": 2
  }
}
