@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
}

.react-multi-carousel-dot--active button {
  background: #ffffff !important;
}

.react-multi-carousel-dot button {
  width: 14px !important;
  height: 14px !important;
  border-color: #ffffff !important;
}
